<!DOCTYPE html>
<html>
<head>
  <script>
      onDocumentContentReady(0);
  </script>
</head>
<body>
<%= provide :sub_title, "主页" %>
<%= provide :banner, 'time.jpg' %>
<section class="container">
  <div style="margin-top: 2rem;"></div>
  <%= render 'shared/flash' %>
  <blockquote class="cite_block_home">
    <p>关于本站</p>
    <small>你想了解的内容</small>
  </blockquote>

  <div class="row" id="intro_home">
    <!--  1.作者..2.项目..3.赠言..4.素材..-->
    <!-- 本网站的作者，了解其个人信息，兴趣爱好，生活故事。 glyphicon-user -->
    <!-- 由Ruby on Rails开发的个人网站，建站于heroku。参考本站项目源码，请点击这里。 glyphicon-briefcase -->
    <!-- 想说的话，对网站建设的想法，等等。灌水是不被允许的。 glyphicon-comment-->
    <!-- 包含了各行各类学习参考以及使用的素材。类别相关：编程，英语，音乐，绘画，饲养植物。 glyphicon-list-alt-->
    <div class="col-sm-3 col-xs-6">
      <p class="icon-intro-home"><span class="glyphicon glyphicon-user"></span>
      </p>

      <h3 class="title-intro-home">作者
      </h3>

      <p class="content-intro-home">
        本网站的作者，了解其个人信息，兴趣爱好，生活故事。
      </p>
    </div>
    <div class="col-sm-3 col-xs-6">
      <p class="icon-intro-home"><span class="glyphicon glyphicon-briefcase"></span>
      </p>
      <h3 class="title-intro-home">
        项目
      </h3>
      <p class="content-intro-home">
        由Ruby on
        Rails开发的个人网站，建站于heroku。参考本站项目源码，请<a target="_blank" href="https://github.com/fanqi987/personal_website">点击这里</a>。
      </p>
    </div>

    <!--    <div class="clearfix hidden-lg hidden-md hidden-sm hidden-xs"></div>-->

    <div class="col-sm-3 col-xs-6">
      <p class="icon-intro-home"><span class="glyphicon glyphicon-comment"></span>
      </p>
      <h3 class="title-intro-home">
        赠言
      </h3>
      <p class="content-intro-home">
        想说的话，对网站建设的想法，等等。灌水是不被允许的。
      </p>
    </div>
    <div class="col-sm-3 col-xs-6">
      <p class="icon-intro-home"><span class="glyphicon glyphicon-list-alt"></span>
      </p>
      <h3 class="title-intro-home">
        素材
      </h3>
      <p class="content-intro-home">
        包含了各行各类学习参考以及使用的素材。类别相关：编程，英语，音乐，绘画，饲养植物。
      </p>
    </div>
  </div>


  <blockquote class="cite_block_home">
    <p>动态</p>
    <small>最近发生的新鲜事儿</small>
  </blockquote>
  <div id="content_home">
    <div class="row">
      <div class="col-xs-4">
        <div id="micropost_content_home" onclick="location.href='<%= microposts_path %>'">
          <!-- 一共40个字-->
          <% if @micropost %>
            <p>
              <span id="micropost_content_first_word_home"><i><%= @micropost.content[0] %></i></span><i><%= @micropost.content[1...@micropost.content.length] %></i>
            </p>
            <!--        <span id="micropost_divider_home">------------------------------</span>-->
            <span id="micropost_time_home"><i><%= getCurrentCorrectTime @micropost.created_at %></i></span>
          <% else %>
            <p>没有微博哦...</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-8" onclick="location.href='<%= hobbies_path %>'">
        <% if @hobby_item %>
          <div id="games_img_1_home" style="background-image:url('<%=@hobby_item.image.url %>');background-size: cover;">
          </div>
        <% else %>
          <div id="games_img_1_home">
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div id="message_board_home" onclick="location.href='<%= messages_path %>'">
          <% if @comment %>
            <% name = @comment.user_name ? @comment.user_name : User.find_by(id: @comment.user_id).name %>
            <p id="message_board_name_home">
              <%= name %><span> ：</span>
            </p>
            <!-- 一共120个字-->
            <p id="message_board_content_home">
              <%= @comment.content %>
            </p>
            <p id="message_board_time_home">
              <%= getCurrentCorrectTime @comment.created_at %>
            </p>
          <% else %>
            <p id="message_board_name_home">
              没有留言哦...
            </p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-4">
        <div id="materials_home" onclick="location.href='<%= materials_path %>'">
          <div id="materials_img_home">
          </div>
          <div id="materials_content_home">
            <!--            <p id="materials_content_title_home">Ruby on Rails教程</p>-->
            <% if @material %>
              <p title='<%= @material.title %>' id="materials_content_href_home"><%= @material.title %></p>
            <% else %>
              <p id="materials_content_href_home">没有素材哦...</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div id="article_home" onclick="location.href='<%= diaries_path %>'">
          <% if @diary %>
            <p id="article_title_home">
              <span title="<%= @diary.title %>"><%= @diary.title %></span>
            </p>
            <p id="article_content_home">
              <!-- 一共220个字-->
              <% t_content = @diary.content %>
              <% t_content.gsub!(/<br\s*\/*>/, " ") %>
              <% t_content.gsub!(/<.+?>/, "") %>
              <% t_content = CGI.unescapeHTML(t_content) %>
              <%= t_content %>
            </p>
            <p id="article_time_home">
              <%= getCurrentCorrectTime @diary.created_at %>
            </p>
          <% else %>
            <p id="article_title_home">
              没有日志...
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
