<section class="row fa-2x article_show_edits">
      <span class="fas fa-share-alt article_show_edits_share" style="border: none;">
      </span><span class="fas fa-comment-dots article_show_edits_comments"> (<%= @diary.comments.count %>)
    </span><%= form_for :like, url: diary_like_path(@diary), method: :post, remote: true do |f| %>
    <%= f.button type: :submit, class: "fas fa-thumbs-up article_show_edits_likes", 'data-title': "<h4>今天已经点赞过了~!</h4>", "data-trigger": 'click' do %>
      (<%= @diary.like %>)
    <% end %>
  <% end %><span class="fas fa-edit article_show_edits_edit" onclick="location.href='<%= edit_diary_path @diary %>'">
  </span><button class="fas fa-copy article_show_edits_copy" onclick="showToast('链接复制到剪贴板啦~');">
</button><% if check_show_delete @diary %><%= link_to "", diary_path(@diary), class: "fas fa-trash-alt article_show_edits_delete", method: :delete,
                data: {confirm: "确认删除这篇文章吗?"} %>
  <% end %><span class="article_show_edits_page_next" onclick="location.href=
      '<%= @index_next ? diary_path(@diaries[@index_next]) :"javascript:void(0)" %>'"
        style="<%= "color:#bcc;" if !@index_next %>">下篇</span>
  <span class="article_show_edits_page_prev" onclick="location.href=
      '<%= @index_prev ? diary_path(@diaries[@index_prev]) : "javascript:void(0)" %>'"
        style="border:none;<%= "color:#cdd;" if !@index_prev %>">上篇</span>
  <div class="clear"></div>
</section>