<!DOCTYPE html>
<html>
<script>
    <% if logged_in? && current_user.admin? %>
    onDocumentContentReady(2, 1);
    <%else %>
    onDocumentContentReady(2);
    <%end %>
</script>
<body>
<%= provide :sub_title, "日志" %>
<!-- banner-->
<%= provide :banner, 'diary_2.png' %>
<%= provide :post_path, diaries_path %>
<div class="container">
  <!--  侧边栏-->
  <aside class="col-md-3 hidden-sm hidden-xs" id="article_aside">
    <section id="post_article_section">
      <a class="btn btn-primary btn-block btn-lg fas fa-edit" id="post_article_section_button" href="<%= new_diary_path %>">
        发表新日志
      </a>
      <% if logged_in? && current_user.admin? %>
        <%= form_for :draft, url: diaries_path, method: :get do |f| %>
          <% if @draft %>
            <%= f.button "查看日志", type: :submit, value: "article", class: "btn btn-primary btn-info btn-block btn-lg fas fa-book", id: "draft_article_section_button" %>
          <% else %>
            <%= f.button "查看草稿箱", type: :submit, value: "draft", class: "btn btn-primary btn-success  btn-block btn-lg fas fa-scroll", id: "draft_article_section_button" %>
          <% end %>
        <% end %>
      <% end %>
    </section>
    <hr/>
    <!--  搜索日志-->
    <%= render 'shared/search_section', object: @search_section %>
  </aside>

  <!--  搜索模态-->
  <%= provide :modal_search_path, diaries_path %>
  <%= render "shared/search_modal", object: @search_modal %>

  <!--  日志列表 -->
  <% provide :search_path, diaries_path %>
  <article class="col-md-9 col-sm-12" id="article_main">
    <div class="row main_title_flash">
      <%= render 'shared/flash' %>
    </div>
    <section class="row" id="article_main_title">
      <span class="fas fa-chevron-left" id="main_title_back"></span><span><% if @draft %>草稿箱<% else %>日志<% end %>
      <span><%= @diaries.count %></span>
        </span>
      <div class="main_title_search_factors">

        <% if @search_start_time && !@search_start_time.empty? %>
          <%= render 'shared/search_item', object: [@search_start_time, @search_end_time, @search_word, 0, "起"] %>
          <!--          <span><i class="fa fa-times-circle"></i><%#= @search_start_time %>起</span>-->
        <% end %>
        <% if @search_end_time && !@search_end_time.empty? %>
          <%= render 'shared/search_item', object: [@search_start_time, @search_end_time, @search_word, 1, "止"] %>
          <!--          <span><i class="fa fa-times-circle"></i><%#= @search_end_time %>止</span>-->
        <% end %>
        <% if @search_word && !@search_word.empty? %>
          <%= render 'shared/search_item', object: [@search_start_time, @search_end_time, @search_word, 2, ""] %>
          <!--          <span><i class="fa fa-times-circle"></i>"<%#= @search_word %>"</span>-->
        <% end %></div>
    </section>
    <% if @diaries && !@diaries.empty? %>
      <%= render "shared/diary_item" %>
    <% else %>
      <section id="article_empty">
      </section>
      <% if @draft %>
        <p>草稿箱为空！</p>
      <% else %>
        <p>没有日志要！</p>
      <% end %>
    <% end %>
    <%= will_paginate @diaries, getWillPaginateOptions %>
  </article>
</div>
</body>
</html>
