<% object.each_with_index do |comment, index| %>
  <% params[:page] = 1 if !params[:page] %>
  <section class="comment_item_div">
    <div class="media">
      <div class="media-left">
        <%= render "shared/avatar_chooser", object: comment %>
        <%#= image_tag 'dictionary.png' %>
      </div>
      <div class="media-body">
        <div class="media-heading" id="comment_username">
          <%= getSecretIPName comment.user_name %>
          <span>
            <%# comment.commentable.comments.count + 1 %>
            <% if yield(:floor_order) == 'asc' %>
            <span class="comment_floor"><%= (index + 1) + (params[:page].to_i - 1) * ApplicationController::COMMENT_PAGE_NUM %>
              楼&nbsp;</span>
            <% elsif (yield(:floor_order) == 'desc') %>
              <span class="comment_floor"><%= (comment.commentable.comments.count + 1) - (index + 1) -
                                                  (params[:page].to_i - 1) * ApplicationController::COMMENT_PAGE_NUM %>
                楼&nbsp;</span>
            <% end %>
            <% if check_show_delete comment %>
            <%= form_for :delete, url: yield(:delete_path), method: :delete, remote: true do |f| %>
              <%= hidden_field_tag :comment_id, comment.id %>
                <%= hidden_field_tag :page, params[:page] %>
                <%= f.button "删除", type: :submit, class: "comment_delete" %>
            <% end %>
              <% end %>
            <span class="comment_time">&nbsp;<%= getCurrentCorrectTime comment.created_at %></span></span>
        </div>
        <p id="comment_content"><%= comment.content %></p>
      </div>
    </div>
    <!--      <div class="comment_hr"></div>-->
  </section>
<% end %>
<%= will_paginate object, getWillPaginateOptions %>

