<% if session[:microposts_page].include?(micropost_path(object.id)) %>
  <%= render 'shared/micropost_comment_item', object: @micropost_records %>
  <% unless @load_micropost_comment_complete %>
    <% p "111111111111111" %>
    <%= form_for :more, url: microposts_comment_more_path, method: :post, remote: true do |f| %>
      <!--    <div class="micropost_comments_more">查看更多</div>-->
      <%#= hidden_field_tag :micropost_index, object[1] %>
      <%= hidden_field_tag :page_comment, @page_comment %>
      <%= hidden_field_tag :maxPage_comment, @maxPage_comment %>
      <%= hidden_field_tag :id, params[:id] %>
      <%#= hidden_field_tag :load_micropost_comments_complete, @load_micropost_comments_complete %>
      <%= f.button "查看更多评论", type: :submit, class: "micropost_comments_more", id: "micropost_comments_more_#{params[:id]}" %>
    <% end %>
  <% else %>
<!--    <div class="micropost_comments_more" id="micropost_comments_more_<%#= params[:id] %>">已无更多评论</div>-->
  <% end %>
<% else %>
  <%= render 'shared/micropost_comment_item', object: object.micropost_records[0...MicropostsController::PAGINATE_NUM] %>
  <% if object.micropost_records.length <= MicropostsController::PAGINATE_NUM %>
<!--    <div class="micropost_comments_more" id="micropost_comments_more_<%#= object.id %>">已无更多评论</div>-->
  <% else %>
    <%= link_to "查看更多评论", micropost_path(object),class:"micropost_comments_more", id: "micropost_comments_more_#{object.id}" %>
  <% end %>
<% end %>

<%# p @micropost_records %>
<!-- 如果是从微博单独展示页面来的,或者是通过请求包含了 -->