<% object.each do |micropost_comment| %>
  <section class="micropost_main_comments" id="micropost_main_comments_<%= micropost_comment.id %>">
    <div class="media" id="micropost_comments_media">
      <div class="media-left">
        <span class="media-object micropost_comments_avatar" id="micropost_comments_avatar_<%= micropost_comment.id %>">
      <%= render "shared/avatar_chooser", object: micropost_comment %>
        </span>
      </div>
      <div class="media-body">
        <p class="media-heading micropost_comments_username" id="micropost_comments_username_<%= micropost_comment.id %>">
          <!--          这是名字:-->
          <%= getSecretIPName micropost_comment.user_name %>:
          <span class='micropost_comments_content' id="micropost_comments_content_<%= micropost_comment.id %>"><%= micropost_comment.content %></span>
        </p>
        </p>
        <div class="micropost_edit_items micropost_comments_edit_items" id="micropost_comments_edit_items_<%= micropost_comment.id %>">
          <%# if logged_in? && (current_user.admin? || current_user.id == micropost_comment.user_id) %>
          <% if check_show_delete micropost_comment %>
            <%= form_for :delete, url: microposts_comment_path, method: :delete, remote: true do |f| %>
              <!--              <span class="	glyphicon glyphicon-trash" id="micropost_comments_delete_icon"></span>-->
              <%= hidden_field_tag :micropost_comment_id, micropost_comment.id %>
              <%= hidden_field_tag :page_comment, @page_comment %>
              <%= f.button "", type: "submit", class: 'glyphicon glyphicon-trash', id: "micropost_comments_delete_icon_#{micropost_comment.id}", data: {confirm: "确定删除这条评论吗?"} %>
            <% end %>
          <% end %>
          <span class="glyphicon" id="micropost_comments_post_time"><%= getCurrentCorrectTime micropost_comment.created_at %></span>
          <%= form_for :like, url: microposts_comment_like_path, method: :post, remote: true do |f| %>
            <%= tag :input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token %>
            <%= hidden_field_tag :micropost_comment_id, micropost_comment.id %>
            <%= f.button micropost_comment.like, type: :submit, class: "glyphicon glyphicon-thumbs-up", id: "micropost_comments_likes_icon_#{micropost_comment.id}", "data-title": "今天已经点赞过了~!", "data-trigger": "click" %>
          <% end %>
        </div>
      </div>
      <!--      <hr/>-->
    </div>
  </section>
<% end %>