<div class="micropost_main_comments_edit_form" id="micropost_main_comments_edit_form_<%= object.id %>">
  <%= form_for @micropost_record, url: microposts_comment_path, method: :post, remote: true do |f| %>
    <%= render 'shared/errors', object: @micropost_record %>
    <%= f.text_area :content, placeholder: "发表评论...", class: 'form-control micropost_main_comments_edit_form_text_area', required: true %>
    <%= hidden_field_tag :id, object.id %>
    <%= hidden_field_tag :page_comment, @page_comment %>
    <%#= hidden_field_tag :maxPage_comment, @maxPage_comment %>
    <!--        <div class="micropost_main_comment_edit_form_group_submit">-->
    <% if !logged_in? %>
      <div class="micropost_main_comments_edit_form_name_field">
        <%= f.text_field :user_name, placeholder: "(可选)用户名", class: 'form-control', value: session[:user_name] %>
        <button type="button" class="btn btn-info btn-sm" onclick="onClickRandomName('<%= object.id %>')">随机</button>
      </div>
    <% else %>
    <% end %>
    <%= f.submit "提交", class: "btn btn-primary btn-sm" %>
    <!--        </div>-->
  <% end %>
  <div class="clearfix"></div>
  <!--      <hr/>-->
</div>
<%# if @micropost_record.content || @micropost_records[object[1]].length > 0 %>
<div class="micropost_comment_item_with_more">
  <% p object %>
  <%= render 'shared/micropost_comment_item_with_more_xhr', object: object %>
</div>
<%# end %>
