<div class="modal fade" id="post_micropost_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <%= form_for @micropost, url: yield(:modal_post_path), method: :post do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="glyphicon glyphicon-pencil"> <%= object[:modal_title] %></span>
        </div>
        <div class="modal-body">
          <%= f.text_area :content, class: 'form-control', maxlength: '200', placeholder: '你现在的想法', required: true %>
          <!--          <textarea class="form-control" maxlength="200" placeholder="你现在的想法..." required></textarea>-->
        </div>
        <div class="modal-footer">
          <!--          <span class="glyphicon glyphicon-picture" id="modal_choose_img"> 选择图片</span>-->

          <% if object[:img_choose] %>
            <%= content_tag :span, ' 选择图片', class: 'glyphicon glyphicon-picture', id: 'modal_choose_img', name: 'micropost[picture]' %>
            <!--            <span class="glyphicon glyphicon-picture" id="modal_choose_img">-->
            <!--              <%#= f.file_field :picture, accept: 'image/gif,image/jpeg,image/png' %> 选择图片-->
            <!--            </span>-->
          <% end %>
          <%#= hidden_field_tag :user_id, current_user.id %>
          <%= f.submit "发布", class: 'btn btn-primary' %>
          <!--          <button class="btn btn-primary" type="submit">发布</button>-->
        </div>
      </div>
    <% end %>
  </div>
</div>