<div class="modal fade" id="<%= object[:post_modal_id] %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <%= form_for yield(:post_object), url: yield(:post_path), method: :post do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span class="glyphicon glyphicon-pencil"> <%= object[:modal_title] %></span>
        </div>
        <div class="modal-body">
          <% if object[:material] %>
            <% t_type = {} %>
            <% MaterialsController::TYPE.each do |k, v| %>
              <% t_type.store(v, k) %>
            <% end %>
            <%= f.select :material_type, t_type, style: "width:50%;" %>
            <%= f.text_field :title, class: "form-control", placeholder: "请输入素材标题...", required: true %>
            <%= f.text_area :content, class: "form-control", placeholder: "素材介绍...", required: true %>
            <%= f.url_field :href, class: "form-control", placeholder: "素材链接...", required: true %>
          <% end %>
          <% if object[:micropost] %>
            <%= f.text_area :content, class: 'form-control', maxlength: '200', placeholder: '你现在的想法', required: true %>
          <% end %>
        </div>
        <div class="modal-footer">
          <% if object[:micropost] %>
            <span class="modal_choose_filename"></span>
            <%= content_tag :span, class: 'glyphicon glyphicon-facetime-video', id: 'modal_choose_video' do %>选择视频
              <%= f.file_field :video, accept: "video/*" %>
            <% end %>
            <%= content_tag :span, class: 'glyphicon glyphicon-picture', id: 'modal_choose_img' do %>选择图片
              <%= f.file_field :picture, accept: "image/*" %>
            <% end %>
            <!--            <span class="glyphicon glyphicon-picture" id="modal_choose_img">-->
            <!--              <%#= f.file_field :picture, accept: 'image/gif,image/jpeg,image/png' %> 选择图片-->
            <!--            </span>-->
          <% end %>
          <%#= hidden_field_tag :user_id, current_user.id %>
          <%= f.button "发布", type: :submit, class: "btn btn-primary btn-sm", id: "modal_submit",
                       onclick: "onClickProgress(\"#" + object[:post_modal_id] + " button[type='submit']\");" %>
        </div>
      </div>
    <% end %>
  </div>
</div>