<!DOCTYPE html>
<html>
<head>
  <script>
      onDocumentContentReady(1);
  </script>
</head>
<body>
<%= provide :modal_post_path, microposts_path %>
<div class="container">
  <!--  手机版 -->
  <aside class="col-md-3 hidden-sm hidden-xs" id="micropost_aside">
    <section id="post_micropost_section">
      <% if logged_in? && current_user.admin? %>
        <button class="btn btn-primary btn-block btn-lg fas fa-blog" id="post_micropost_section_button" data-toggle="modal" data-target="#post_micropost_modal" onclick="return false">
          <strong>发表新微博</strong>
        </button>
      <% else %>
        <%# p "进入没登录的地方了" %>
        <%= form_for :post_micropost, url: microposts_url, method: :post, remote: true do %>
          <%= content_tag :button, content_tag(:strong, "发表新微博"),
                          class: 'btn btn-primary btn-block btn-lg fas fa-blog', id: 'post_micropost_section_button',
                          type: :submit %>
        <% end %>
      <% end %>
    </section>
    <hr/>
    <section id="search_micropost_section">
      <p class="glyphicon glyphicon-search"> 搜索微博</p>
      <hr/>
      <form id="select_search_micropost_form">
        <div class="form-group">
          <label><span class="glyphicon glyphicon-time"></span>
            开始时间:</label><input class="form-control" id="select_search_micropost_date_start" type="date">
        </div>
        <div class="form-group">
          <label><span class="glyphicon glyphicon-time"></span>
            结束时间:</label><input class="form-control" id="select_search_micropost_date_end" type="date">
        </div>
        <div class="form-group">
          <label><span class="	glyphicon glyphicon-pencil"></span> 请输入关键字:</label>
          <input class="form-control" id="select_search_micropost_key_word" type="text">
        </div>
        <hr>
        <button class="btn btn-success btn-block" type="submit">提交</button>
      </form>
      <button class="btn btn-success btn-block" data-toggle="modal" data-target="#search_micropost_modal" onclick="return false" style="margin-top: 1rem;">查看搜索模态</button>
    </section>
  </aside>

  <!-- 发布模态 -->
  <% if logged_in? %>
    <%# p "我是传递过来的post" %>
    <%# p @post %>
    <%= render 'shared/post_modal', object: @post %>
  <% end %>

  <!-- 搜索模态  -->
  <div class="modal fade" id="search_micropost_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p class="glyphicon glyphicon-search"> 搜索微博</p>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label><span class="glyphicon glyphicon-time"></span>
                开始时间:</label><input class="form-control" id="select_search_micropost_date_start" type="date">
            </div>
            <div class="form-group">
              <label><span class="glyphicon glyphicon-time"></span>
                结束时间:</label><input class="form-control" id="select_search_micropost_date_end" type="date">
            </div>
            <div class="form-group">
              <label><span class="glyphicon glyphicon-pencil"></span> 请输入关键字:</label>
              <input class="form-control" id="select_search_micropost_key_word" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">提交</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 微博项目显示区域-->
  <article class="col-md-9 col-sm-12" id="micropost_main">
    <div class="micropost_main_title_flash">
      <%= render 'shared/flash' %>
    </div>
    <section class="row" id="micropost_main_title">
      <span class="fas fa-chevron-left" id="article_main_title_back"></span><span>微博内容</span>
    </section>
    <section class="micropost_main_content_with_more">
      <%= render 'shared/micropost_main_content_with_more_xhr', object: [@micropost] %>
    </section>
  </article>

</div>
</body>
</html>

