<!DOCTYPE html>
<html>
<head>
  <script>
      onDocumentContentReady(1);
  </script>
</head>
<body>
<!--  提交路径 -->
<%= provide :post_path, microposts_path %>
<div class="container">
  <!--  发表微博-->
  <aside class="col-md-3 hidden-sm hidden-xs" id="micropost_aside">
    <section id="post_micropost_section">
      <% if logged_in? && current_user.admin? %>
        <button class="btn btn-primary btn-block btn-lg fas fa-blog" id="post_micropost_section_button" data-toggle="modal" data-target="#post_micropost_modal" onclick="return false">
          <strong>发表新微博</strong>
        </button>
      <% else %>
        <%# p "进入没登录的地方了" %>
        <%= form_for :post_micropost, url: microposts_url, method: :post, remote: true do %>
          <%= content_tag :button, content_tag(:strong, "发表新微博"),
                          class: 'btn btn-primary btn-block btn-lg fas fa-blog', id: 'post_micropost_section_button',
                          type: :submit %>
        <% end %>
      <% end %>
    </section>
    <hr/>
    <!--  搜索微博-->
    <%= render 'shared/search_section', object: @search_section %>
  </aside>

  <!-- 发布模态 -->
  <% if logged_in? %>
    <%# p "我是传递过来的post" %>
    <%# p @post %>
    <%= render 'shared/post_modal', object: @post %>
  <% end %>

  <!-- 搜索模态  -->
  <%= provide :modal_search_path, microposts_path %>
  <%= render 'shared/search_modal', object: @search_modal %>

  <!-- 微博项目显示区域-->
  <article class="col-md-9 col-sm-12" id="micropost_main">
    <div class="main_title_flash">
      <%= render 'shared/flash' %>
    </div>
    <section class="row" id="micropost_main_title">
      <span class="fas fa-chevron-left" id="main_title_back" style="display:inline-block" onclick='onClickGotoMicropostHome();'>
      </span><span><%= link_to "微博内容", "#top" %></span>
    </section>
    <section class="micropost_main_content_with_more">
      <%# p "show" + @page_comment %>
      <%= render 'shared/micropost_main_content_with_more_xhr', object: [@micropost] %>
    </section>
  </article>
</div>
</body>
</html>

